  <!-- by sahanr.silva@proton.me -->

<template>
  <!-- The main container for the editor -->
  <div>
    <!-- Header section containing the title and image upload functionality -->
    <div class="editor-container">
      <div class="editor-header">
        <h1>PromiseQ Threat Detector</h1>
        <div class="upload-container">
          <!-- Button to trigger image selection -->
          <label for="imageInput" class="upload-button">Select Image</label>
          <!-- Input field to choose an image file -->
          <input type="file" id="imageInput" accept="image/*" @change="handleImageUpload">
        </div>
      </div>

      <!-- Container for the canvas to display the uploaded image and drawn elements -->
      <div class="canvas-container">
        <canvas ref="imageCanvas"></canvas>
      </div>

      <!-- Tool buttons for drawing rectangles and detecting threats -->
      <div class="tool-buttons">
        <!-- Button to draw rectangles on the image -->
        <button class="tool-button" @click="drawRectangle">Draw Rectangle</button>
        <!-- Button to initiate the threat detection process -->
        <button id="detectButton" @click="detectThreats" :disabled="!imageUploaded">Detect Threats</button>
      </div>
    </div>

    <!-- Loading indicator displayed during asynchronous operations -->
    <div v-if="loading" class="loading-indicator">
      <div class="loading-content">
        <!-- Animated spinner to indicate loading -->
        <div class="spinner"></div>
      </div>
    </div>
  </div>
</template>

<script>
import { fabric } from 'fabric'; // Importing Fabric.js library for canvas manipulation
import axios from 'axios'; // Importing Axios for making HTTP requests

export default {
  data() {
    return {
      // State variables to manage image and drawing status
      imageUploaded: false, // Indicates if an image is uploaded
      rectangleDrawn: false, // Indicates if a rectangle is drawn on the canvas
      loading: false, // Indicates if content is loading
      canvas: null, // Fabric.js canvas object
      rect: null, // Rectangle object on the canvas
    };
  },
  mounted() {
    // Initialize Fabric.js canvas on component mount
    this.canvas = new fabric.Canvas(this.$refs.imageCanvas, {
      width: 800, // Canvas width
      height: 480, // Canvas height
    });

    // Event listeners for canvas object selection and delete functionality
    this.canvas.on('object:selected', () => {
      if (this.canvas.getActiveObject() === this.rect) {
        this.rectangleDrawn = true;
      }
    });

    document.addEventListener('keydown', (e) => {
      if (e.key === 'Delete' && this.canvas.getActiveObject()) {
        const obj = this.canvas.getActiveObject();
        if (obj && obj !== this.canvas.backgroundImage) {
          this.canvas.remove(obj);
          this.canvas.renderAll();
        }
      }
    });
  },
  methods: {
    // Method to handle image upload and display on the canvas
    handleImageUpload(event) {
      const file = event.target.files[0];
      if (!file) {
        alert('Please select a file.');
        return;
      }

      const allowedTypes = ['image/jpeg', 'image/png'];
      if (!allowedTypes.includes(file.type)) {
        alert('Please select a valid image file (JPEG, PNG).');
        return;
      }

      const maxSizeInBytes = 1e6; // Maximum allowed image size (1MB)
      if (file.size > maxSizeInBytes) {
        alert('Please select an image less than 1MB in size.');
        return;
      }

      const reader = new FileReader();
      reader.onload = (e) => {
        const img = new Image();
        img.onload = () => {
          const fabricImage = new fabric.Image(img);
          this.canvas.setBackgroundImage(
            fabricImage,
            this.canvas.renderAll.bind(this.canvas),
            {
              scaleX: this.canvas.width / img.width,
              scaleY: this.canvas.height / img.height,
            }
          );
        };
        img.src = e.target.result;
        this.imageUploaded = true;
      };
      reader.readAsDataURL(file);
    },
    drawRectangle() {
      // Method to draw a rectangle on the canvas
      if (!this.imageUploaded) {
        alert('Please select an image before drawing rectangles.');
        return;
      }

      this.rect = new fabric.Rect({
        left: 40, // X coordinate of the rectangle
        top: 40, // Y coordinate of the rectangle
        width: 50, // Width of the rectangle
        height: 50, // Height of the rectangle
        fill: 'transparent', // Fill color of the rectangle (transparent)
        stroke: '#2196F3', // Border color of the rectangle
        strokeWidth: 3, // Border width of the rectangle
        cornerRadius: 8, // Corner radius of the rectangle
        shadow: '0 2px 4px rgba(0, 0, 0, 0.3)', // Shadow applied to the rectangle
      });

      this.canvas.add(this.rect);

      this.rect.on('moving', () => {
        // Log coordinates or perform actions when moving the rectangle
      });

      this.rect.on('scaling', () => {
        // Log coordinates or perform actions when scaling the rectangle
      });
    },
    // Async method to detect threats within the selected region of the image
    async detectThreats() {
      if (!this.imageUploaded) {
        alert('Please select an image before detecting threats.');
        return;
      }

      this.loading = true;

      let rectCoords;
      if (this.rect) {
        rectCoords = [
          this.rect.left,
          this.rect.top,
          this.rect.width * this.rect.scaleX,
          this.rect.height * this.rect.scaleY,
        ];
      } else {
        rectCoords = [0, 0, 0, 0];
      }

      try {
        // Convert canvas content to JPEG format with 0.8 quality
        const imageBase64 = this.canvas.toDataURL({ format: 'jpeg', quality: 0.8 });
        const blob = await fetch(imageBase64).then((res) => res.blob());

        const formData = new FormData();
        formData.append('image', new File([blob], 'image.jpg', { type: 'image/jpeg' }));
        formData.append('boxCoordinates', JSON.stringify(rectCoords));

        // Send image and coordinates data to the backend for threat detection
        const response = await axios.post('https://promiseq-backend-dvnaxjnapq-uc.a.run.app', formData, {
          headers: {
            'Content-Type': 'multipart/form-data',
          },
        });

        // If threats detected, draw bounding boxes around them on the canvas
        if (response.data.job_result === 'alarm') {
          const metadata = response.data.metadata;
          metadata.forEach((item) => {
            this.drawBoundingBox(item.bbox, item.class);
          });
        }
      } catch (error) {
        console.error('Error sending image to backend:', error);
      } finally {
        this.loading = false; // Set loading state to false after processing
      }
    },
    // Method to draw bounding boxes around detected threats
    drawBoundingBox(bbox, className) {
      const rect = new fabric.Rect({
        left: bbox.xmin * this.canvas.width, // X coordinate of the bounding box
        top: bbox.ymin * this.canvas.height, // Y coordinate of the bounding box
        width: (bbox.xmax - bbox.xmin) * this.canvas.width, // Width of the bounding box
        height: (bbox.ymax - bbox.ymin) * this.canvas.height, // Height of the bounding box
        fill: 'transparent', // Fill color of the bounding box (transparent)
        stroke: '#FF0000', // Border color of the bounding box
        strokeWidth: 2, // Border width of the bounding box
      });

      const text = new fabric.Text(className, {
        left: bbox.xmin * this.canvas.width, // X coordinate for the text label
        top: bbox.ymin * this.canvas.height - 20, // Y coordinate for the text label
        fill: '#FF0000', // Text color
        fontSize: 16, // Font size of the text label
      });

      this.canvas.add(rect);
      this.canvas.add(text);
      this.canvas.renderAll(); // Render changes on the canvas
    },
  },
};
</script>


<style>

/* Resetting default styles and setting a background color for the body */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

/* Container for the editor with centered content */
.editor-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f2f2f2;
  padding: 20px;
}

/* Header styling for the editor */
.editor-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 80%;
  margin-bottom: 20px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

/* Hover effect for the editor header */
.editor-header:hover {
  background-color: #f5f5f5;
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.1);
}

/* Styling for the header title */
.editor-header h1 {
  font-size: 28px;
  font-weight: 700;
  margin: 0;
  color: #333;
}

/* Container for the upload button */
.upload-container {
  display: flex;
  align-items: center;
}

/* Styling for the upload button */
.upload-button {
  padding: 12px 20px;
  background-color: #2196F3;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 25px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  outline: none;
}

/* Hover effect for the upload button */
.upload-button:hover {
  background-color: #1976d2;
  transform: translateY(-2px);
}

/* Styling for the file input (hidden) */
#imageInput {
  display: none;
}

/* Container for the canvas with styling */
.canvas-container {
  position: relative;
  width: 80%;
  max-width: 800px;
  height: 60vh;
  margin-bottom: 0;
  overflow: hidden;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

/* Styling for the image inside the canvas */
#imageCanvas {
  width: 100%;
  height: 100%;
  object-fit: contain;
  box-sizing: border-box;
  border: none;
}

/* Container for tool buttons */
.tool-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

/* Styling for tool buttons */
.tool-button,
#detectButton {
  padding: 12px 20px;
  background-color: transparent;
  border: 2px solid #2196F3;
  cursor: pointer;
  border-radius: 25px;
  color: #2196F3;
  transition: background-color 0.3s ease, transform 0.2s ease, color 0.3s ease;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  outline: none;
}

/* Hover effect for tool buttons */
.tool-button:hover,
#detectButton:hover {
  background-color: #2196F3;
  color: #fff;
}

/* Active press effect for tool buttons */
.tool-button:active,
#detectButton:active {
  transform: translateY(2px);
}

/* Styling for the loading indicator */
.loading-indicator {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: background-color 0.3s ease;
}

/* Styling for the content inside the loading indicator */
.loading-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Styling for the spinner/loader */
.spinner {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top-color: #2196F3;
  animation: spin 1s linear infinite, fade-in 1s ease-in-out;
  margin-bottom: 10px;
}

/* Styling for the detect button */
#detectButton {
  padding: 12px 20px;
  background-color: #FF5722; 
  border: 2px solid #FF5722; 
  cursor: pointer;
  border-radius: 25px;
  color: #fff;
  transition: background-color 0.3s ease, transform 0.2s ease, color 0.3s ease;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  outline: none;
}

/* Hover effect for the detect button */
#detectButton:hover {
  background-color: #E64A19;
  border-color: #E64A19; 
}

/* Active press effect for the detect button */
#detectButton:active {
  transform: translateY(2px);
}

/* Keyframe animation for spinning loader */
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* Keyframe animation for fade-in effect */
@keyframes fade-in {
  from {
    opacity: 0;
  }
}


</style>
